<section ng-controller="HomeController" ng-init="latest()">
  <div class="list-group">
    <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">
      <p>
        <span><i class="glyphicon glyphicon-tags"></i></span>
        <span ng-repeat="tag in article.tags">
          <span>&nbsp;</span><span ng-bind="tag.text"></span>
        </span>
      </p>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
      <p class="list-group-item-text" ng-bind="article.intro"></p>
    </a>
  </div>
</section>
